<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="The Page Description">
  <style type="text/css">@-ms-viewport{width: device-width;}</style>
  <title>#HoyPorMéxico</title>
  <link rel="stylesheet" href="style.css" media="screen">
  <link rel="icon" href="<%= asset_url('favicon.png') %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Thirdparty -->
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68260038-2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-68260038-2');
  </script>
</head>

<div id="pagewrap">
  <%= render partial: 'shared/header' %>

  <%= yield %>

  <%= render partial: 'shared/footer' %>

</div>
</html>
